.env
.cache
.idea
.DS_Store
venv/
cache/
downloads/
__pycache__/
bot/cookies/*
/inspiration
log.txt
!requirements.txt
*.session
google-chrome-extracted/
google-chrome-extracted/*
*.session-journal
wireproxy
