aiohttp~=3.13.2
kurigram>=2.2.17
pillow~=12.0.0
psutil~=7.2.1
pymongo>=4.15.5
pytgcrypto>=1.2.12
py-tgcalls>=2.2.10
python-dotenv~=1.2.1
yt-dlp[default]>=2025.12.8
dnspython
fastapi
uvicorn
httpx<0.28.0
py7zr
async-lru
langgraph
aiohttp-socks
PySocks
ytmusicapi
redis
youtube-search-python
