# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

PROXY_HOST=127.0.0.1
PROXY_PORT=40000
PROXY_HTTP_PORT=40001 # Required for Search (py_yt) compatibility
PROXY_USERNAME=
PROXY_PASSWORD=
PROXY_SCHEME=socks5 # or http
MONGO_DB_NAME=Anon

# pyrogram session from @StringFatherBot on telegram
SESSION=


ENABLE_TFIDF_RECOMMENDATIONS = True  # Feature flag
RECOMMENDATION_DATASET_PATH = "bot/data/recommendations_dataset.csv"
RECOMMENDATION_LIMIT = 10  # Max recommendations per query


SUPPORT_CHAT=https://t.me/shellstr0m
SUPPORT_CHANNEL=https://t.me/esp68

