API_ID=
API_HASH=
BOT_TOKEN=

# Database Config
MONGO_URL=
MONGO_DB_NAME=HappyBot
REDIS_URL=
REDIS_PREFIX=bot1_

# IDs
LOGGER_ID=
OWNER_ID=

# Limits & Settings
DURATION_LIMIT=300
QUEUE_LIMIT=50
PLAYLIST_LIMIT=50
PLAYER_UPDATE_INTERVAL=7

# Sessions (Optional - for userbot)
SESSION1=
SESSION2=
SESSION3=

# Support Links
SUPPORT_CHANNEL=https://t.me/
SUPPORT_CHAT=https://t.me/

# Bot Behavior
AUTO_END=false
AUTO_LEAVE=false
VIDEO_PLAY=true
AFK_TIMEOUT=5

# Images
DEFAULT_THUMB=https://images.alphacoders.com/685/thumb-1920-685120.png
PING_IMG=https://images6.alphacoders.com/134/thumb-1920-1345576.jpeg
START_IMG=https://images3.alphacoders.com/132/thumbbig-1323165.webp

# Cookie & Browser (For YouTube)
COOKIES_URL=
BROWSER_JSON_URL=
COOKIE_REFRESH_INTERVAL=5

# Streaming Settings
ENABLE_DIRECT_STREAMING=true
STREAM_QUALITY=medium
YTDLP_VERBOSE=false
ANIME_API_URL=https://anime-api2-three.vercel.app

# Proxy (Optional)
PROXY_HOST=
PROXY_PORT=
PROXY_HTTP_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=
PROXY_SCHEME=http
